.HUD {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.HUD button {
  font-size: 24px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
}

.hidden {
  display: none !important;
}

.game-zone {
  position: relative;
  width: 100%;
  height: 60vh;
  border: 1px solid #ccc;
  margin-top: 30px;
  overflow: hidden;
}

#clickBtn, #badBtn, #doubleBtn {
  position: absolute;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clickBtn {
  background-color: #888;
}

#badBtn {
  background-color: red;
}

#doubleBtn {
  background-color: blue;
}
